[submodule "Ansim_KeyPad_AI"]
	path = ai-server
	url = https://github.com/SKTDanbee/Ansim_KeyPad_AI
	branch = main
[submodule "Ansim_KeyPad_Frontend"]
	path = frontend
	url = https://github.com/SKTDanbee/Ansim_KeyPad_Frontend
	branch = main
[submodule "Ansim_KeyPad_Backend"]
	path = backend
	url = https://github.com/SKTDanbee/Ansim_KeyPad_Backend
	branch = main
