[submodule "Ansim_KeyPad_Backend"]
	path = Baleunmalssami_Backend
	url = https://github.com/SKTDanbee/Ansim_KeyPad_Backend
	branch = main
[submodule "Ansim_KeyPad_Frontend"]
	path = Baleunmalssami_Frontend
	url = https://github.com/SKTDanbee/Ansim_Keypad_Frontend
	branch = main
[submodule "Ansim_KeyPad_AI"]
	path = Baleunmalssami_AI
	url = https://github.com/SKTDanbee/Ansim_KeyPad_AI
	branch = main
[submodule "Ansim_KeyPad_Keypad"]
	path = Baleunmalssami_Keypad
	url = https://github.com/SKTDanbee/Ansim_KeyPad_Keypad
	branch = main
